<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Song Recommender</title>
    </head>
    <body>
        <div class="header">
            <img src="https://github.com/jasondaween.png" alt="GitHub PFP" width="30px">
            <a href="https://github.com/jasondaween" style="text-decoration: none; color:black;">Jason</a>
        </div>
        <div class="hero-section">
            <h1>Song Recommender</h1>
            <h5>Generate songs based on your favorite music genre</h5>
            <form action="/" method="POST">
                <select id="genres" name="genres">
                    <option value="" disabled selected hidden>Choose a genre</option>
                    <option value="C-Pop">C-Pop</option>
                    <option value="Hip Hop">Hip Hop</option>
                    <option value="Pop">Pop</option>
                    <option value="Rock">Rock</option>
                    <option value="R&B">R&B</option>
                </select>
                <button type="submit">Generate</button>
            </form>
        </div>
        {% if song %}
        <div class="song-card">
            <h2>Genre: {{ genre }}</h2>

            <div class="song-container">
                <img src="{{ song.img }}" alt="Album Cover" width="200px">

                <div class="song-info">
                    <a href="{{ song.link }}" target="_blank">{{ song.name }}</a>
                    <p>{{ song.artist }}</p>
                </div>
            </div>
        </div>
        {% endif %}
    </body>
</html>